<a href="https://colab.research.google.com/github/runnithan03/Dissertation/blob/main/Test%20Code/SQL/SQL_Test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Step 1: Import the SQLite3 library
import sqlite3

# Step 2: Create a connection to the in-memory SQLite database
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

# Step 3: Create a sample table
cursor.execute('''
CREATE TABLE students (
    id INTEGER PRIMARY KEY,
    name TEXT,
    grade REAL
)
''')

# Step 4: Insert some data into the table
cursor.execute('INSERT INTO students (name, grade) VALUES ("Alice", 90.5)')
cursor.execute('INSERT INTO students (name, grade) VALUES ("Bob", 85.0)')
conn.commit()

# Step 5: Query the data
cursor.execute('SELECT * FROM students')
rows = cursor.fetchall()

# Step 6: Print the result
for row in rows:
    print(row)

# Step 7: Close the connection
conn.close()

(1, 'Alice', 90.5)
(2, 'Bob', 85.0)